streamlit
pandas
matplotlib
plotly
sqlalchemy
psycopg2-binary
google-genai
tabulate
openpyxl
joblib
scikit-learn==1.3.2
tqdm
xlsxwriter
psutil
google-api-python-client
google-auth
google-auth-httplib2
